body {
    height: 100vh;
    font-family: Arial, Helvetica, sans-serif;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    margin: 0;
    padding: 0;
}

ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

a {
    text-decoration: none;
}

h1 {
    font-size: 48px;
    font-weight: extra-bold; 
    color: #F9FAF8;
    margin: 0;
}

/* Header */

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: darkslategray;
    color: white;
    min-height: 60px;
    width: 100%;
}

.header > ul {
    display: flex;
    gap: 10px;
    padding-right: 20px
}

.logo {
    padding-left: 20px;
    font-weight: 900;
}

/* Hero Module */

.hero-module {
    display: flex;
    justify-content: center;
    gap: 30px;
    align-items: center;
    background-color: darkslategray;
    color: white;
    padding: 40px;
}

.hero-content {
    display: flex;
    flex-wrap: wrap;
    flex-basis: 300px;
}

.hero-content > p {
    color: #E2E7EB;
    font-size: 18px;
}

.hero-image {
    width: 350px;
}

