body {
    font-family: Arial, Helvetica, sans-serif;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    padding: 0;
    margin: 0;
}

ul {
    display: flex;
    list-style: none;
    padding: 0;
    margin: 0;
    gap: 16px;
}

a {
    text-decoration: none;
}

h1 {
    font-size: 48px;
    font-weight: extra-bold; 
    color: #F9FAF8;
    margin: 0;
}

h2 {
    font-size: 36px;
    font-weight: 900;
    color: #1f2937;
    padding: 0;
}

.logo {
    font-weight: 900;
}

.hero-module , .second-module, .third-module , .fourth-module {
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 400px;
    padding-left: 200px;
    padding-right: 200px;
}

.hero-module {
    background:  #1f2937;
    flex:1;

    gap: 36px;
    align-items: center;
}

.second-module {

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.third-module {

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background: #e5e7eb;
    font-size: 36px;
    color: #1f2937;
    font-weight: 50;
}

.fourth-module {
    display: flex;
    justify-content: center;
    align-items: center;
}

.cta-container {
    display: flex;
    gap: 30px;
    background: #3882f6;
    padding: 30px 50px;
    border-radius: 10px;
    align-items: center;
    justify-content: center;
    color: white;
    flex-grow: 1;
}

.cta-content {
    flex-grow: 1;
}

.cta-subtext {
    font-size: 14px;
}

.quote {
    display:flex;
    flex-direction: column;
}

.quote > .quote-by {
    font-size: 16px;
    align-self: end;
    font-weight: 800;
}

.card-container {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 30px;
    align-items: center;
}

.card-container > .card {
    max-width: 150px;
}

.card > .card-img {
    max-width: 150px;
    border: 2px solid #3882f6;
    border-radius: 5px;
}

.hero-content {
    flex:1;
    display: flex;
    flex-direction: column;
}

.hero-content > p {
    size: 18px;
    color: #E5E7EB;
}

.hero-image {
    max-width: 400px;
}

.sign-up {
    border-radius: 8px;
    background-color: #3882f6;
    padding: 10px;
    max-width: 100px;
    color: white;
    border: 0px;
    font-weight: 800;
}

.sign-up.white-border {
    border: 2px solid white;
    max-height: 50px;
}

.header , .footer {
    display: flex;
    justify-content: space-between;
    padding: 20px;
    padding-left: 200px;
    padding-right: 200px;
    background-color:  #1f2937;
    size: 18px;
    color: #E5E7EB;
}

.header {
}

.footer {
    display: flex;
    justify-content: center;
    padding: 20px;
    background-color:  #1f2937;
    size: 18px;
    color: #E5E7EB;
    align-items: center;
}